h1 {
    font-family: cursive;
    color: red;
}
    .baby-pic {
    width: 500px;
}
.STL-gif {
    width: 500px;
}
.band1 {
    width: 500px;
}
.band2{
    width: 500px;
}
.band3 {
    width: 500px;
}
.codergif {
    width: 500px;
}

p {
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 80px;
  padding-right: 30px;
  padding-left: 80px;
  font-size: large;
}
body {
    background-color: whitesmoke;
}